<section>
  <div class="header">
    <img class="item-img" src="{{item.img}}" data-edit="img" data-action="editImage" data-tooltip="{{item.name}}" />
    {{formInput fields.name value=source.name}}
  </div> 

  {{formField systemFields.categorie value=system.categorie localize=true}}
  {{formField systemFields.valeur value=system.valeur}}
  {{formField systemFields.malus value=system.malus}}
  <fieldset>
    <legend>{{localize "TENEBRIS.Label.description"}}</legend>
    {{formInput
      systemFields.description
      enriched=enrichedDescription
      value=system.description
      name="system.description"
      toggled="false"
    }}
  </fieldset>
</section>