<section class="tab character-biography{{#if tabs.biography.active}} active{{/if}}" data-group="primary" data-tab="biography">
  <fieldset>
    <legend>{{localize "TENEBRIS.Character.Label.description"}}</legend>
    {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
  </fieldset>
  <fieldset>
    <legend>{{localize "TENEBRIS.Character.Label.langues"}}</legend>
    {{formInput systemFields.langues enriched=enrichedLangues value=system.langues name="system.langues" toggled=true}}
  </fieldset>
  <fieldset>
    <legend>{{localize "TENEBRIS.Character.Label.notes"}}</legend>
    {{formInput systemFields.notes enriched=enrichedNotes value=system.notes name="system.notes" toggled=true}}
  </fieldset>
</section>