<section class="tab character-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <fieldset>
    <legend data-tooltip="{{localize "TENEBRIS.Tooltip.learnedTalents"}}" data-tooltip-direction="UP">{{localize "TENEBRIS.Label.talents"}}</legend>
    <div class="talents">
      {{#if @root.isEditMode}}
        {{#each talents as |item|}}
          {{log "path-talent" this}}
          <div class="talent {{#if item.appris}}appris{{/if}}" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}">
            <div class="name" data-tooltip="{{{item.description}}}">{{item.name}}
              {{#if item.progression}}<span data-tooltip="{{localize 'TENEBRIS.Label.progressionPossible'}}"> (P)</span>{{/if}}
              {{#if (and item.progression (gt item.niveau 0))}}{{localize 'TENEBRIS.Label.level'}} {{item.niveau}}{{/if}}            
            </div>
            <div class="controls">
              <a data-tooltip="{{localize 'TENEBRIS.Edit'}}" data-action="edit" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}"><i class="fas fa-edit"></i></a>
              <a data-tooltip="{{localize 'TENEBRIS.Delete'}}" data-action="delete" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#each talentsAppris as |item|}}
          {{log "path-talent appris" this}}
          <div class="talent" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}" data-tooltip="{{{item.description}}}">{{item.name}}
            {{#if item.progression}}
              Niveau
              {{item.niveau}}
            {{/if}}
          </div>
        {{/each}}
      {{/if}}
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "TENEBRIS.Label.equipement"}}</legend>
    {{#each weapons as |item|}}
      {{log 'weapon' this}}
      <div class="weapon" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}">
        <div class="name" data-tooltip="{{{item.description}}}">{{item.name}}
          ({{item.system.weaponCategory}})          
        </div>
        <a {{#if (ne item.system.degats "1")}}class="rollable" data-item-id="{{item.id}}" data-action="roll" data-roll-type="damage" data-roll-value="{{item.system.degats}}"{{/if}}>{{item.system.degats}}</a>
        {{#if @root.isEditMode}}
        <div class="controls">
          <a data-tooltip="{{localize 'TENEBRIS.Edit'}}" data-action="edit" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}"><i class="fas fa-edit"></i></a>
          <a data-tooltip="{{localize 'TENEBRIS.Delete'}}" data-action="delete" data-item-id="{{item.id}}" data-item-uuid="{{item.uuid}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </div>
    {{/each}}
  </fieldset>

  <fieldset>
    <legend>{{localize "TENEBRIS.Label.biens"}}</legend>
    {{formInput systemFields.biens enriched=enrichedBiens value=system.biens name="system.biens" toggled=true }}
  </fieldset>
</section>