<section class="character-main">
  {{log "character-main" this}}

  <fieldset>
    <legend>{{localize "TENEBRIS.Character.Label.personnage"}}</legend>
    <div class="character-personnage character-personnage-{{ifThen isPlayMode 'play' 'edit'}}">
      <div class="character-gauche">
        <div class="character-gauche-image">
          <img class="character-img" src="{{actor.img}}" data-edit="img" data-action="editImage" data-tooltip="{{actor.name}}" />
        </div>        
        <div class="character-dv">
            {{formField systemFields.dv value=system.dv rootId=partId disabled=isPlayMode classes="character-dv"}}
        </div>
        <div class="character-dmax">
          {{formField systemFields.dmax.fields.valeur value=system.dmax.valeur rootId=partId disabled=isPlayMode classes="character-dmax"}}
        </div>        
      </div>
      <div class="character-droite">
          <div class="character-name">
            {{formInput fields.name value=source.name rootId=partId disabled=isPlayMode}}
            <a class="control" data-action="toggleSheet" data-tooltip="TENEBRIS.ToggleSheet" data-tooltip-direction="UP">
              <i class="fa-solid fa-user-{{ifThen isPlayMode 'lock' 'pen'}}"></i>
            </a>
        </div>
        <div class="character-infos">
              {{#if isEditMode}}
                  <div class="character-voie-majeure">
                    {{formField systemFields.voies.fields.majeure.fields.nom value=system.voies.majeure.nom rootId=partId disabled=true}}     
                    {{#if system.hasVoieMajeure}}
                      <div class="controls">
                        <a class="control" data-action="edit" data-item-id="{{actor.system.voies.majeure.id}}" data-tooltip="{{localize 'TENEBRIS.Edit'}}"><i class="fas fa-edit"></i></a>
                        {{#if (not system.hasVoieMineure)}}
                          <a class="control" data-action="deleteVoieMajeure" data-tooltip="{{localize 'TENEBRIS.Delete'}}"><i class="fas fa-trash"></i></a>
                        {{/if}}
                      </div>
                    {{/if}}    
                  </div>
                  <div class="character-voie-mineure">
                    {{formField systemFields.voies.fields.mineure.fields.nom value=system.voies.mineure.nom rootId=partId disabled=true}}
                    {{#if system.hasVoieMineure}}
                      <div class="controls">
                        <a class="control" data-action="edit" data-item-id="{{actor.system.voies.majeure.id}}" data-tooltip="{{localize 'TENEBRIS.Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="control" data-action="deleteVoieMineure" data-tooltip="{{localize 'TENEBRIS.Delete'}}"><i class="fas fa-trash"></i></a>
                      </div>
                    {{/if}}
                   </div>       
              {{else}}  
                    <div class="character-voie-majeure">
                      {{formField systemFields.voies.fields.majeure.fields.nom value=system.voies.majeure.nom rootId=partId disabled=true}}       
                    </div>  
                    {{#if system.hasVoieMineure}}      
                      <div class="character-voie-mineure">
                        {{formField systemFields.voies.fields.mineure.fields.nom value=system.voies.mineure.nom rootId=partId disabled=true}}
                      </div>         
                    {{/if}}
              {{/if}}
            <div class="character-commanditaire">
              {{formField systemFields.commanditaire value=system.commanditaire rootId=partId disabled=isPlayMode classes="character-commanditaire"}}
            </div>
            <div class="character-pv">
                <div class="character-pv-value">
                    {{formField systemFields.pv.fields.value value=system.pv.value}}
                </div>
                <div class="pv-separator">/</div>
                <div class="character-pv-max">
                    {{formInput systemFields.pv.fields.max value=system.pv.max rootId=partId disabled=isPlayMode}}
                </div>
            </div>
        </div> 
      </div>
      

  </fieldset>

  <fieldset class="character-caracteristiques character-caracteristiques-{{ifThen isPlayMode 'play' 'edit'}}">
    <legend>{{localize "TENEBRIS.Character.Label.caracteristiques"}}</legend>
    <div class="character-caracteristique" data-drag><i class="fa fa-question-circle" aria-hidden="true" data-tooltip="{{experience.rob}}" style="font-size: small;"></i>{{formField systemFields.caracteristiques.fields.rob.fields.valeur value=system.caracteristiques.rob.valeur rootId=partId readonly=isPlayMode classes="rollable" dataset=rollType.saveRob}} {{#if isEditMode}}<div class="experience">{{formInput systemFields.caracteristiques.fields.rob.fields.progression.fields.experience value=system.caracteristiques.rob.progression.experience}} {{formInput systemFields.caracteristiques.fields.rob.fields.progression.fields.progres value=system.caracteristiques.rob.progression.progres}}</div>{{/if}}</div>
    <div class="character-caracteristique" ><i class="fa fa-question-circle" aria-hidden="true" data-tooltip="{{experience.dex}}" style="font-size: small;"></i>{{formField systemFields.caracteristiques.fields.dex.fields.valeur value=system.caracteristiques.dex.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.saveDex}} {{#if isEditMode}}<div class="experience">{{formInput systemFields.caracteristiques.fields.dex.fields.progression.fields.experience value=system.caracteristiques.dex.progression.experience}} {{formInput systemFields.caracteristiques.fields.dex.fields.progression.fields.progres value=system.caracteristiques.dex.progression.progres}}</div>{{/if}}</div>
    <div class="character-caracteristique" ><i class="fa fa-question-circle" aria-hidden="true" data-tooltip="{{experience.int}}" style="font-size: small;"></i>{{formField systemFields.caracteristiques.fields.int.fields.valeur value=system.caracteristiques.int.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.saveInt}} {{#if isEditMode}}<div class="experience">{{formInput systemFields.caracteristiques.fields.int.fields.progression.fields.experience value=system.caracteristiques.int.progression.experience}} {{formInput systemFields.caracteristiques.fields.int.fields.progression.fields.progres value=system.caracteristiques.int.progression.progres}}</div>{{/if}}</div>
    <div class="character-caracteristique" ><i class="fa fa-question-circle" aria-hidden="true" data-tooltip="{{experience.per}}" style="font-size: small;"></i>{{formField systemFields.caracteristiques.fields.per.fields.valeur value=system.caracteristiques.per.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.savePer}} {{#if isEditMode}}<div class="experience">{{formInput systemFields.caracteristiques.fields.per.fields.progression.fields.experience value=system.caracteristiques.per.progression.experience}} {{formInput systemFields.caracteristiques.fields.per.fields.progression.fields.progres value=system.caracteristiques.per.progression.progres}}</div>{{/if}}</div>
    <div class="character-caracteristique" ><i class="fa fa-question-circle" aria-hidden="true" data-tooltip="{{experience.vol}}" style="font-size: small;"></i>{{formField systemFields.caracteristiques.fields.vol.fields.valeur value=system.caracteristiques.vol.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.saveVol}} {{#if isEditMode}}<div class="experience">{{formInput systemFields.caracteristiques.fields.vol.fields.progression.fields.experience value=system.caracteristiques.vol.progression.experience}} {{formInput systemFields.caracteristiques.fields.vol.fields.progression.fields.progres value=system.caracteristiques.vol.progression.progres}}</div>{{/if}}</div>
  </fieldset>

  <fieldset class="character-ressources">
    <legend>{{localize "TENEBRIS.Character.Label.ressources"}}</legend>
    {{formField systemFields.ressources.fields.san.fields.valeur value=system.ressources.san.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.resourceSan}}
    {{formField systemFields.ressources.fields.oeil.fields.valeur value=system.ressources.oeil.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.resourceOeil }}
    {{formField systemFields.ressources.fields.verbe.fields.valeur value=system.ressources.verbe.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.resourceVerbe}}
    {{formField systemFields.ressources.fields.bourse.fields.valeur value=system.ressources.bourse.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.resourceBourse}}
    {{formField systemFields.ressources.fields.magie.fields.valeur value=system.ressources.magie.valeur rootId=partId disabled=isPlayMode classes="rollable" dataset=rollType.resourceMagie}}
  </fieldset>

</section>