<div class="tenebris ask-roll">
    <h4 class="ask-roll-title">{{title}}<br>{{text}}</h4>
    <a class="ask-roll-dice" data-type="{{rollType}}" data-value="{{value}}">
        <i class="fas fa-dice-d20" title="{{localize 'TENEBRIS.Manager.roll'}}"></i>  {{localize 'TENEBRIS.Manager.roll'}}
    </a>
</div>