{{!log 'chat-message' this}}
<li class="tenebris chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
    <header class="message-header flexrow">
        <h4 class="message-sender">{{alias}}</h4>
        <span class="message-metadata">
            <time class="message-timestamp">{{timeSince message.timestamp}}</time>
            {{#if canDelete}}
            <a aria-label="{{localize 'Delete'}}" class="message-delete"><i class="fas fa-trash"></i></a>
            {{/if}}
        </span>

        {{#if isWhisper}}
        <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
        {{/if}}
        {{#if message.flavor}}
        <span class="flavor-text">{{{message.flavor}}}</span>
        {{/if}}
    </header>
    <div class="intro-chat">
        {{#if (ne actingCharImg "icons/svg/mystery-man.svg")}}
        <div class="intro-img">
            <img src="{{actingCharImg}}" data-tooltip="{{actingCharName}}" />
        </div>
        {{/if}}
        <div class="intro-right">
            {{#if visible}}
                <p class="introText" {{#if isSave}}data-tooltip="{{introTextTooltip}}"{{/if}}>{{{introText}}}</p>
                {{#if isSave}}
                    {{#if (eq avantages "avantage")}} {{localize "TENEBRIS.Roll.avantage"}}{{/if}}
                    {{#if (eq avantages "desavantage")}} {{localize "TENEBRIS.Roll.desavantage"}}{{/if}}
                    {{#if (eq avantages "doubleAvantage")}} {{localize "TENEBRIS.Roll.doubleAvantage"}}{{/if}}
                    {{#if (eq avantages "doubleDesavantage")}} {{localize "TENEBRIS.Roll.doubleDesavantage"}}{{/if}}
                {{/if}}
            {{else}}
                <p class="introText"></p>
            {{/if}}
        </div>
    </div>
     {{#if (or isSave isResource)}}
        <div class="result">
            {{#if (eq resultType "success")}}
                {{#if visible}}{{localize "TENEBRIS.Roll.success"}}{{else}}?{{/if}}
            {{else}}
                {{#if visible}}{{localize "TENEBRIS.Roll.failure"}}{{#if isFailure}} ({{localize "TENEBRIS.Roll.resourceLost"}}){{/if}}{{else}}?{{/if}}
            {{/if}}
        </div>
     {{/if}}
    <div class="message-content">
        {{{message.content}}}
    </div>
</li>