<section>
  {{formInput fields.name value=source.name}}
  {{formField systemFields.appris value=system.appris}}
  {{formField systemFields.progression value=system.progression}}
  {{#if canProgress}}
    {{formField systemFields.niveau value=system.niveau }}
  {{/if}}

  <fieldset>
    <legend>{{localize "TENEBRIS.Label.description"}}</legend>
    {{formInput
      systemFields.description
      enriched=enrichedDescription
      value=system.description
      documentUUID=item.uuid
      name="system.description"
      collaborate="true"
      toggled="true"
    }}
  </fieldset>

</section>