<section>
  <div class="header">
    <img class="item-img" src="{{item.img}}" data-edit="img" data-action="editImage" data-tooltip="{{item.name}}" />
    {{formInput fields.name value=source.name}}
  </div>  
  {{formField systemFields.appris value=system.appris}}
  {{formField systemFields.progression value=system.progression}}
  {{#if canProgress}}
    {{formField systemFields.niveau value=system.niveau }}
  {{/if}}

  <fieldset>
    <legend>{{localize "TENEBRIS.Label.description"}}</legend>
    {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
  </fieldset>

</section>